#footer {
    background-image: url('../image/newsletter.png');
    max-width: 100%;
    height: 20vh;
    position: absolute;
    color: white;
}

#footer .col-auto .footer-menu {
    font-size: 12px;
}

#footer .col-lg-10 .row .p {
    font-family: Open Sans;
    font-size: 8px;
    margin-right: 45px;
}

#footer .footer-menu {
    font-size: 0.6rem;
    margin-top: 1rem;
    letter-spacing: 2px;
}

#footer .footer-menu .footer-menu-item {
    margin-right: 5px;
}

#footer .copyright {
    font-size: 12px;
    color: #7e7e7f;
    padding-left: 14px;
}

#footer .privacy {
    font-size: 11px;
    letter-spacing: 1px;
}

#footer .privacy .p {
    margin-right: 0px;
}

#footer .col-lg-10 .row {
    margin-top: 1.5rem;
}

@media screen and (min-width: 320px) {
    #footer .footer-menu .footer-menu-item {
        font-size: 6px;
    }
    #footer .footer-menu {
        margin-bottom: -2rem;
    }
    #footer .offset-1 {
        margin-left: 0.333333%;
    }
    #footer .col-lg-10 .col-auto img {
        width: 8px;
        height: 8px;
    }
    #footer .copyright {
        font-size: 8px;
        margin-top: 12px;
    }
    #footer .privacy {
        font-size: 7px;
        margin-top: 12px;
    }
    #footer .col-lg-10 .footer-menu {
        margin-top: 1rem;
        margin-bottom: 0rem;
    }
    #footer .col-lg-10 .row {
        margin-top: 1rem;
    }
    #footer .col-lg-10 hr {
        margin-bottom: -1rem;
        margin-top: 0rem;
    }
}

@media screen and (min-width: 375px) {
    #footer .col-lg-10 .footer-menu {
        margin-top: 1rem;
        margin-bottom: 0rem;
    }
    #footer .col-lg-10 .row {
        margin-top: 1rem;
    }
    #footer .col-lg-10 hr {
        margin-bottom: -1rem;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 768px) {
    #footer .col-lg-10 .footer-menu {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    #footer .col-auto .footer-menu {
        font-size: 12px;
    }
    #footer .col-lg-10 .row .p {
        font-family: Open Sans;
        font-size: 8px;
        margin-right: 45px;
    }
    #footer .copyright {
        font-size: 12px;
        color: #7e7e7f;
        padding-left: 14px;
    }
    #footer .privacy {
        font-size: 11px;
        letter-spacing: 1px;
    }  
    #footer .col-lg-10 .row {
        margin-top: 1.5rem;
    }
    #footer .footer-menu .footer-menu-item {
        font-size: 10px;
        margin-bottom: 0.5rem;
    }
    #footer .offset-1 {
        margin-left: 7.333333%;
    }
    #footer .col-lg-10 .col-auto img {
        width: 12px;
        height: 12px;
    }
}