
.forgotpassword{
  margin-top: 50px;
  margin-bottom: 50px;
}

.emailforgot{
  margin-bottom: 30px;
  border-radius: 7px;
  height: 50px  ;
  margin-right: 20px;
  text-align: center;
}


.forgot{
  margin-bottom: 100px;
  height: 35px;
  width: 150px;
  text-align: center;
}
