#homepage{
    overflow-x: hidden;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

/* Section 1 */
.home-bg {
    background-image: url('../image/main-bg.jpg');
    background-position: bottom;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

#main-bg {
    color: white;
}

#main-bg h1 {
    letter-spacing: 3px;
    margin-top: 15rem;
    font-weight: 800;
}

#main-bg .my-4{
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500;
}

#main-bg .btn {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    height: 2.2rem;
    color: rgba(26, 25, 23, 1);
}

.thestory {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
}

.thestory p {
    margin-bottom: 0px;
}

.thestory img {
    margin-bottom: 0.5rem;
}

.home-bg .col-12 .btn a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

@media screen and (min-width: 320px) {
    #main-bg h1 {
        margin-top: 10rem;
        font-size: 30px;
    }
    #main-bg .my-4{
        font-size: 12px;
    }
    #main-bg .mt-2 {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 375px) {
    #main-bg h1 {
        margin-top: 12rem;
    }
}

@media screen and (min-width: 1024px) {
    #main-bg h1 {
        margin-top: 15rem;
        font-size: 42px;
    }
    #main-bg .my-4{
        font-size: 16px;
    }
    #main-bg .mt-2 {
        margin-top: 0rem;
    }
}

@media screen and (min-width: 1440px) {
    #main-bg h1 {
        margin-top: 23rem;
        font-size: 56px;
    }
    #main-bg .my-4{
        font-size: 20px;
    }
}

/* Section 2 */
#section2 {
    background-image: url('../image/the-games-bg.jpg');
    background-position: bottom;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    max-width: 100%;
}

#section2 .col-md-3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 9rem;
}

#section2 .col-md-3 p {
    font-weight: 500;
    letter-spacing: 0.15rem;
    font-size: 18px;
}

#section2 .col-md-3 h1 {
    font-size: 44px;
    margin-top: -1rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

#section2 .col-md-7 {
    margin-top: 9rem;
    margin-left: 2rem;
}

@media screen and (min-width: 320px) {
    #section2 .col-md-3 {
        margin-top: 8rem;
        margin-left: 0.5rem;
    }
    #section2 .col-md-7 {
        margin-top: 2rem;
        margin-left: 0rem;
    }
}

@media screen and (min-width: 768px) {
    #section2 .col-md-3 {
        margin-top: 9rem;
        margin-left: 3rem;
    }
    #section2 .col-md-7 {
        margin-top: 9rem;
        margin-left: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    #section2 .col-md-7 {
        margin-top: 9rem;
        margin-left: 4rem;
    }
}

@media screen and (min-width: 1200px) {
    #section2 .col-md-3 {
        margin-top: 9rem;
        margin-left: 6rem;
    }
    #section2 .col-md-7 {
        margin-left: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {
    #section2 .col-md-3 {
        margin-top: 14rem;
        margin-left: 6rem;
    }
    #section2 .col-md-3 p {
        font-size: 24px;
    }
    #section2 .col-md-3 h1 {
        font-size: 54px;
    }
    #section2 .col-md-7 {
        margin-left: 2.5rem;
        margin-top: 14rem;
    }
}

/* Section 3 */
#section3 {
    background-image: url('../image/features.jpg');
    max-width: 100%;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}

#section3 .col-sm-4 {
    color: white;
}

#section3 .top-p {
    letter-spacing: 0.1rem;
}

#section3 .col-sm-4 h1 {
    letter-spacing: 0.15rem;
    margin-top: -1rem;
}

#section3 ul li {
    color: #FFB548;
    letter-spacing: 0.1rem;
}

#section3 ul li p {
    color: white;
    letter-spacing: 0.05rem;
}

#section3 ul li {
    list-style: circle;
}

#section3 .detail-list {
    list-style: disc;
    ;
}



@media screen and (min-width: 320px) {
    #section3 .col-sm-4 {
        margin-left: 0rem;
        margin-top: 6.5rem;
    }
    #section3 .col-sm-4 h1 {
        font-size: 42px;
    }
    #section3 ul li {
        margin-top: 2rem;
    }
    #section3 ul li p {
        font-size: 12px;
    }
}

@media screen and (min-width: 425px) {
    #section3 .col-sm-4 {
        margin-left: 2rem;
    }
    #section3 ul li p {
        width: 250px;
    }
}

@media screen and (min-width: 768px) {
    #section3 .col-sm-4 {
        margin-left: 25rem;
    }
}

@media screen and (min-width: 1020px) {
    #section3 .col-sm-4 {
        margin-left: 37rem;
        margin-top: 13rem;
    }
    #section3 .col-sm-4 h1 {
        font-size: 56px;
    }
    #section3 ul li p {
        font-size: 14px;
    }
    #section3 .top-p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    #section3 .col-sm-4 {
        margin-left: 43rem;
        margin-top: 9rem;
    }
    #section3 .col-sm-4 h1 {
        font-size: 56px;
    }
    #section3 ul li p {
        width: 350px;
    }
    #section3 .top-p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1440px) {
    #section3 .col-sm-4 {
        margin-left: 50rem;
        margin-top: 15rem;
    }
    #section3 .col-sm-4 h1 {
        font-size: 66px;
    }
    #section3 ul li p {
        width: 350px;
    }
    #section3 .top-p {
        font-size: 24px;
    }
    #section3 ul li p {
        font-size: 18px;
    }
    #section3 ul li {
        font-size: 24px;
    }
}

/* Section 4 */
#section4 {
    background-image: url('../image/requirements.png');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    font-size: 14px ;
    max-width: 100%;
    color: white;
}

#section4 .text-center {
    letter-spacing: 2px;
}

#section4 h1 {
    font-size: 53px;
    letter-spacing: 2px;
}

#section4 table {
    font-family: Open Sans;
    font-size: 16px;
    color: white;
}

#section4 table td {
    width: 50%;
    border: 1px solid #97979775;
    border-width: thin;
    padding: 18px 8px;
}

#section4 .text-orange {
    color: #FFB548;
}

@media screen and (min-width: 320px) {
    #section4 {
        background-position: left;
    }
    #section4 .text-center {
        font-size: 8px;
        margin-top: 1.5rem;
    }
    #section4 h1 {
        font-size: 24px;
        margin-top: 2rem;
    }
    #section4 table {
        font-size: 9px;
        width: 250px;
    }
    #section4 .text-orange {
        font-size: 12px;
    }
    #section4 table td {
        padding-top: 1rem;
        padding-bottom: 2px;
    }
    #section4 table td p {
        margin-top: -1rem;
    }
}

@media screen and (min-width: 375px) {
    #section4 table {
        width: 300px;
    }
    #section4 table {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 425px) {
    #section4 table {
        width: 330px;
    }
    #section4 table td {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    #section4 .text-center {
        font-size: 10px;
    }
    #section4 h1 {
        font-size: 28px;
        margin-top: 1rem;
    }
    #section4 table {
        width: 350px;
    }
    #section4 .text-orange {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) {
    #section4 .text-center {
        font-size: 12px;
        margin-top: 2rem;
    }
    #section4 h1 {
        font-size: 40px;
        margin-top: 3rem;
    }
    #section4 table {
        width: 480px;
        margin-top: 2rem;
    }
    #section4 .text-orange {
        font-size: 18px;
    }
    #section4 table td p {
        font-size: 16px;
    }
}

@media screen and (min-width: 1200px) {
    #section4 h1 {
        font-size: 46px;
        margin-top: 1rem;
    }
    #section4 table {
        width: 500px;
    }
}

@media screen and (min-width: 1440px) {
    #section4 h1 {
        font-size: 58px;
        margin-top: 3rem;
    }
    #section4 .text-center {
        font-size: 16px;
        margin-top: 4rem;
    }
    #section4 table {
        width: 550px;
    }
    #section4 .text-orange {
        font-size: 28px;
    }
    #section4 table td p {
        font-size: 20px;
    }
}

/* Section 5 */
#section5 {
    background-image: url('../image/top-score-bg.png');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    max-width: 100%;
}

#section5 .col-sm-4 {
    color: white;
    margin-top: 15rem;
}

#section5 .col-sm-4 h1 {
    font-size: 48px;
    letter-spacing: 0.2rem;
}
#section5 .col-sm-4 p {
    font-size: 14px;
    letter-spacing: 0.1rem;
}
#section5 .col-sm-4 button {
    height: 2.5rem;
    font-size: 12px;
    font-weight: 700;
}
#section5 .col-sm-5 {
    margin-top: 5rem;
}

@media screen and (min-width: 320px) {
    #section5 .offset-1 h1 {
        font-size: 26px;
    }
    #section5 .col-sm-4 p {
        font-size: 11px;
        margin-bottom: 4px;
        margin-right: 35px;
    }
    #section5 .col-sm-4 {
        margin-top: 2rem;
    }
    #section5 .col-sm-4 button {
        font-size: 10px;
        height: 2rem;
        margin-top: 0.5rem;
        padding: 1px 2px;
        padding-right: 2rem!important;
        padding-left: 2rem!important;
    }
    #section5 .col-sm-5 {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 768px) {
    #section5 .col-sm-5 {
        margin-top: 7rem;
    }
    #section5 .offset-1 h1 {
        font-size: 30px;
    }
    #section5 .col-sm-4 p {
        font-size: 12px;
        width: 300px;
    }
    #section5 .col-sm-4 {
        margin-top: 12rem;
    }
    #section5 .col-sm-4 button {
        font-size: 10px;
        height: 2rem;
        margin-top: 0.5rem;
        padding: 1px 2px;
        padding-right: 2rem!important;
        padding-left: 2rem!important;
    }
}

@media screen and (min-width: 1024px) {
    #section5 .col-sm-4 {
        margin-top: 15rem;
    }
    
    #section5 .col-sm-4 h1 {
        font-size: 48px;
    }
    #section5 .col-sm-4 p {
        font-size: 14px;
    }
    #section5 .col-sm-4 button {
        height: 2.5rem;
        font-size: 12px;
    }
    #section5 .col-sm-5 {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 1200px) {
    #section5 .col-sm-5 {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 1440px) {
    #section5 .col-sm-4 {
        margin-top: 23rem;
    }
    
    #section5 .col-sm-4 h1 {
        font-size: 66px;
    }
    #section5 .col-sm-4 p {
        font-size: 20px;
        width: 350px;
        margin-bottom: 2rem;
    }
    #section5 .col-sm-4 button {
        height: 3rem;
        font-size: 16px;
    }
    #section5 .col-sm-5 {
        margin-top: 18rem;
    }
}

/* Section 6 */
#section6 {
    background-image: url('../image/newsletter.png');
    background-position: center;
    background-size: cover;
    height: 80vh;
    background-repeat: no-repeat;
    max-width: 100%;
    color: white;
}

#section6 .col-md-3 img {
    width: 290px; 
    height: 445px;
}

@media screen and (min-width: 320px) {
    #section6 .col-md-3 img {
        position: fixed;
    }
    .mb-1 {
        font-size: 14px ;
    }
    #section6 .col-md-6 h1 {
        font-size: 32px;
    }
    .desc {
        font-size: 10px;
    }
    #exampleInputEmail1 {
        margin-top: 11px;
        font-size: 9px;
    }
    #section6 .col-auto .btn {
        font-size: 9px;
        line-height: 7.79px;
    }
    #section6 .col-md-6 {
        margin-top: 2rem;
    }
    #section6 .col-md-6 p {
        width: 250px;
    }
}

@media screen and (min-width: 375px) {
    #section6 .col-md-6 {
        margin-top: 3rem;
        margin-left: 1rem;
    }
    .row .col-auto input {
        width: 12rem;
    }
    #section6 .col-auto .btn {
        margin-top: 0.7rem;
    }
}

@media screen and (min-width: 768px) {
    #section6 .col-md-6 {
        margin-top: 4rem;
        margin-left: 3rem;
    }
    #section6 .col-md-3 img {
        width: 200px; 
        height: 320px;
        position: absolute;
        margin-top: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    #section6 .col-md-3 img {
        width: 290px; 
        height: 445px;
    }
    #section6 .col-md-6 {
        margin-top: 6rem;
        margin-left: 5rem;
    }
}

@media screen and (min-width: 1200px) {
    #section6 .col-md-3 img {
        margin-left: 2rem;
    }
    #section6 .col-md-6 .top-text {
        font-size: 24px;
        letter-spacing: 0.1rem;
    }
    #section6 .col-md-6 .desc {
        font-size: 14px;
        width: 500px;
    }
    #section6 .col-md-6 h1 {
        font-size: 46px;
        width: 300px;
        letter-spacing: 0.1rem;
        margin-top: -1rem;
    }
    #section6 .row .col-auto input {
        width: 14rem;
        font-size: 12px;
        background-color: #97979775;;
        border: 1px gray;
        color: white;
    }
    #section6 .col-auto .btn {
        margin-top: 0.7rem;
        width: 10rem;
        font-weight: 600;
        font-size: 11px;
    }
}

@media screen and (min-width: 1440px) {
    #section6 .col-md-6 {
        margin-top: 10rem;
    }
    #section6 .col-md-3 img {
        margin-top: 8rem;
        margin-left: 5rem;
    }
}
