.kotak{
  border: 1px solid black;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  width: 50%;
  margin-top: 100px;
  border-radius: 25px;
}

.input{
  margin-right: 20px;
}

.h1{
  padding-bottom: 100px;
}

.label{
  margin-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 50px;
}

.list {
  text-align: center;
  padding-top: 30px;
}


.registerLink{
  cursor: pointer;
  color: blue;
}

.buttonsignin{
  margin-bottom: 200px;
}

.signin{
  margin-top: 150px;
}
