
.register{
  border: 2px solid grey;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  width: 500px;
  margin-top: 100px;
}

.label{
  padding-right: 20px;
  padding-left: 20px;
}

input[type="text"], input[type="password"] {
  padding: 12px 20px;
  box-sizing: border-box;
}

.center {
  margin: auto;
}

.custom-border {
  border: 2px solid #eee;
}

.text{
  margin-top: 15px;
  color: dimgray;
}

.buttonreg{
  margin-bottom: 50px;
}

.signup{
  margin-top: 50px;
  margin-bottom: 30px;
}