* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
}

/* Table Styles */

.table-wrapper {
  margin: 10px 70px 70px;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 50%;
  max-width: 100%;
  white-space: nowrap;
  background-color: rgb(248, 248, 248);
  margin-left: auto;
  margin-right: auto;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
  border: solid #324960;
}

.fl-table td {
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #324960;
}
