body {
  font-family: verdana;
  text-align: center;
  line-height: 30px;
}

.txtblue {
  font-size: 20px;
  font-weight: 400;
  color: #0094ff;
}

.imgcenter {
  width: 15%;
  margin-top: 100px;
}

.txtwhite {
  background-color: black;
  margin-left: 550px;
  margin-right: 550px;
}
